.m10 {
  margin: 10;
}
.mt10 {
  margin-top: 10;
}

.mb10 {
  margin-bottom: 10;
}

.mb30 {
  margin-bottom: 10;
}

.mt30 {
  margin-top: 30;
}
.wh {
  display: "flex";
  width: "100%";
}
body {
  background-color: #f0f6ff;
  color: #28384d;
}

/*Setting Screen Css */
.card-one {
  position: relative;
  width: 300px;
  background: #fff;
  box-shadow: 0 10px 7px -5px rgba(0, 0, 0, 0.4);
}
.card {
  margin-bottom: 35px;
  box-shadow: 0 10px 20px 0 rgba(26, 44, 57, 0.14);
  border: none;
}

.social-profile .user-profile {
  position: absolute;
  bottom: -75px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  left: 50px;
  
}

.social-prof {
  color: #333;
  text-align: center;
}

.social-prof .wrapper {
  width: 70%;
  margin: auto;
  margin-top: -100px;
}

.social-prof img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 5px solid #fff;
  /*border: 10px solid #70b5e6ee;*/
}

.social-prof h3 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 0;
}

.social-prof p {
  font-size: 18px;
}

.social-prof .nav-tabs {
  border: none;
}

.card .nav > li {
  position: relative;
  display: block;
}

.card .nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
  font-weight: 300;
  border-radius: 4px;
}

.card .nav > li > a:focus,
.card .nav > li > a:hover {
  text-decoration: none;
  background-color: #eee;
}

.card .s-nav > li > a.active {
  text-decoration: none;
  background-color: #3afe;
  color: #fff;
}

.social-about .social-info {
  font-size: 16px;
  margin-bottom: 20px;
}

/*end social*/

